[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target
[Service]
Type=simple
User=kafka
Environment="KAFKA_HEAP_OPTS=-Xms{{ zooXMS }} -Xmx{{ zooXMX }}"
Environment="KAFKA_OPTS=-Djava.security.auth.login.config=/etc/kafka/zookeeper_jaas.conf"
ExecStart=/d01/kafka/bin/zookeeper-server-start.sh /d01/kafka/config/zookeeper.properties
ExecStop=/d01/kafka/bin/zookeeper-server-stop.sh
Restart=on-abnormal
[Install]
WantedBy=multi-user.target
